body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.056) 0%,
    rgba(37, 67, 136, 0.1) 42.16%,
    rgba(107, 180, 221, 0) 92.38%
  );
}

/* background: linear-gradient(360deg, rgba(255, 255, 255, 0.056) 0%, rgba(37, 67, 136, 0.1) 42.16%, rgba(107, 180, 221, 0) 92.38%); */

code {
  font-family: "Poppins", sans-serif;
}
